body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8b218;
}

/* En tete header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

/* Sections */
section {
  padding: 40px;
}

section h2 {
  margin-top: 0;
}

/* img */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: auto;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h2 {
  margin-top: 0;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

footer a:hover {
  color: #ccc;
}

footer img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
